// .container > * {
// 	border: 1px solid red;
// }

.header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	width: 900px;
	margin: auto;
	.logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		* {
			margin: 4px 0;
		}
	}
}

.container {
	background-color: rgb(248, 248, 248);
}

.sidebar {
	border-right: 1px solid #dddddd;
	margin: 24px;
	ul {
		list-style-type: none;
	}
}

.footer {
	margin: 36px 0 0 0;
	background-color: #d8dfe7;
	color: #888;
	text-align: center;
}

.main {
	margin: 24px;
}
