/* .container > * {border: 1px solid red;} */

.header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 900px;
	margin: 0 auto;
}

.container {
	background-color: rgb(248, 248, 248);
}

.sidebar {
	border-right: 1px solid #dddddd;
	margin: 24px;
}