body {
	display: grid;
	align-content: start;
	justify-content: center;
	background-color: #d8dfe7;
}
/* grid.layoutit.com?id=zJUTDHK */

.container {
	display: grid;
	grid-template-columns: 250px 650px;
	grid-template-rows: 80px min-content 300px;
	gap: 0px 0px;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}
