body {
	display: grid;
	align-content: start;
	justify-content: center;
}
/* grid.layoutit.com?id=zJUTDHK */

.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 250px 650px;
	grid-template-rows: 80px min-content 300px;
	gap: 20px 20px;
	grid-template-areas: "header header" "sidebar main" "footer footer";
}

nav {
	grid-area: header;
	border: 1px solid black;
}

aside {
	grid-area: sidebar;
	border: 1px solid black;
}

section {
	grid-area: main;
	border: 1px solid black;
}

footer {
	grid-area: footer;
	border: 1px solid black;
}